@model IEnumerable<FISCA.Dominio.Entidades.PlanEstudio>

<h2>Lista de Planes de Estudio</h2>
<div class="w-5 btn-group" role="group">
    <a asp-controller="PlanEstudio" asp-action="Crear" class="btn btn-success mx-2">Agregar</a>
</div>
<table class="table table-light table-bordered table-striped" border="1">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Carrera</th>
            <th>Cantidad de Asignaturas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model)
        {
            <tr>
                <td>@plan.Descripcion</td>
                <td>@plan.IdCarrera</td>
                <td>@plan.CantidadAsignaturas</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="PlanEstudio" asp-action="Editar" asp-route-id="@plan.IdPlan" class="btn btn-success mx-2">Editar</a>
                        <a asp-controller="PlanEstudio" asp-action="Eliminar" asp-route-id="@plan.IdPlan" class="btn btn-danger mx-2">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
