@model IEnumerable<FISCA.Dominio.Entidades.PlanEstudio>
<!-- Incluye solo una vez Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- Incluye toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Tus estilos personalizados -->
<link rel="stylesheet" href="~/FISCAapp.Web.styles.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    <!-- Incluye toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-2">
            @await Html.PartialAsync("_Opciones")
        </aside>
        <div class="col-md-9">
            <h2>Gestión de Planes de Estudio</h2>
            <form method="get" asp-controller="PlanEstudio" asp-action="Index" class="d-flex justify-content-between mb-3">
                <div class="input-group w-50">
                    <input type="text" name="searchString" class="form-control" placeholder="Buscar plan de estudio..." aria-label="Buscar plan de estudio" value="@ViewData["CurrentFilter"]">
                    <button class="btn btn-outline-secondary" type="submit" id="button-search"><i class="bi bi-search"></i></button>
                </div>
                <a asp-controller="PlanEstudio" asp-action="Crear" class="btn btn-success mx-2">Agregar <i class="bi bi-file-earmark-plus-fill"></i></a>
            </form>

            <table class="table table-light table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Carrera</th>
                        <th>Cantidad de Asignaturas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var plan in Model)
                    {
                        <tr>
                            <td>@plan.Descripcion</td>
                            
                            <td>
                                @{
                                    var nombreCarrera = "";
                                    foreach (var carrera in ViewBag.Carreras)
                                    {
                                        if (carrera.IdCarrera == plan.IdCarrera)
                                        {
                                            nombreCarrera = carrera.NombreCarrera;
                                            break;
                                        }
                                    }
                                    @nombreCarrera
                                }
                            </td>
                            <td>@plan.CantidadAsignaturas</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="PlanEstudio" asp-action="Editar" asp-route-id="@plan.IdPlan" class="btn btn-success mx-2">Actualizar <i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="PlanEstudio" asp-action="Eliminar" asp-route-id="@plan.IdPlan" class="btn btn-danger mx-2">Eliminar <i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
