@model IEnumerable<FISCA.Dominio.Entidades.Estudiante>

<h2>Lista de Estudiantes</h2>
<div class="w-5 btn-group" role="group">
    <a asp-controller="Estudiante" asp-action="agregar" class="btn btn-success mx-2">
        Agregar
    </a>
</div>
<table class="table table-light table-bordered table-striped" border="1">
    <thead>
        <tr>
            <th>Carnet</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Grupo</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estudiante in Model)
        {
            <tr>
                <td>@estudiante.car_Estudiante</td>
                <td>@estudiante.nom_Estudiante</td>
                <td>@estudiante.ape_Estudiante</td>
                <td>@estudiante.ced_Estudiante</td>
                <td>@estudiante.cor_Estududiante</td>
                <td>@estudiante.cel_Estudiante</td>
                <td>@estudiante.tel_Estudiante</td>
                <td>@estudiante.dir_Estudiante</td>
                <td>@estudiante.est_Estudiante</td>
                <td>@estudiante.IdGrupo</td>
                <td>@estudiante.fot_Estudiante</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Estudiante" asp-action="actualizar" asp-route-IdEstudiante="@estudiante.IdEstudiante" class="btn btn-success mx-2">
                            Actualizar
                        </a>
                        <a asp-controller="Estudiante" asp-action="eliminar" asp-route-IdEstudiante="@estudiante.IdEstudiante" class="btn btn-danger mx-2">
                            Eliminar
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
