@model IEnumerable<FISCA.Dominio.Entidades.Asignacion>
<h2>Lista Asignacion</h2>

<table border="1">
    <thead>
        <tr>
            <th>IdAsignacion</th>
            <th>Descripcion</th>
            <th>IdDocente</th>
            <th>IdAsignatura</th>
            <th>IdGrupo</th>
            <th>IdTurno</th>
            <th>IdHorario</th>
            <th>Estado</th>
            <th>NumeroAsignacion</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var asignacion in Model)
        {
            <tr>
                <td>@asignacion.IdAsignacion</td>
                <td>@asignacion.Descripcion</td>
                <td>@asignacion.IdDocente</td>
                <td>@asignacion.IdAsignatura</td>
                <td>@asignacion.IdGrupo</td>
                <td>@asignacion.IdTurno</td>
                <td>@asignacion.IdHorario</td>
                <td>@asignacion.Estado</td>
                <td>@asignacion.NumeroAsignacion</td>

            </tr>
        }
    </tbody>
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>