@model IEnumerable<FISCA.Dominio.Entidades.Asignatura>

<table border="1">
    <thead>
        <tr>
            <th>IdAsignatura</th>
            <th>NombreAsignatura</th>
            <th>IdCarrera</th>
            <th>IdGrupo</th>
            <th>IdCuatrimestre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asignatura in Model)
        {
            <tr>
                <td>@asignatura.IdAsignatura</td>
                <td>@asignatura.NombreAsignatura</td>
                <td>@asignatura.IdCarrera</td>
                <td>@asignatura.IdGrupo</td>
                <td>@asignatura.IdCuatrimestre</td>
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
