@model IEnumerable<FISCA.Dominio.Entidades.Inscripciones_Asignaturas>
<h2>Lista Inscripciones Asignaturas</h2>

<table border="1">
    <thead>
        <tr>
            <th>IdInscripciones</th>
            <th>IdAsignatura</th>
            <th>IdEstudiante</th>
            <th>FechaInscripcion</th>
            <th>Observaciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var inscripciones in Model)
        {
            <tr>
                <td>@inscripciones.IdInscripcion</td>
                <td>@inscripciones.IdAsignatura</td>
                <td>@inscripciones.IdEstudiante</td>
                <td>@inscripciones.FechaInscripcion</td>
                <td>@inscripciones.Observaciones</td>

            </tr>
        }
    </tbody>
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

