@model IEnumerable<FISCA.Dominio.Entidades.Material_Didactico>
<h2>Lista Materiales Didacticos</h2>

<table border="1">
    <thead>
        <tr>
            <th>IdMaterialDidactico</th>
            <th>Descripcion</th>
            <th>Archivo</th>
            <th>CodigoMaterial</th>
            <th>FechaSubida</th>
            <th>IdNumeroAsignacion</th>
            <th>IdDocente</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var materialDidacticos in Model)
        {
            <tr>
                <td>@materialDidacticos.IdMaterialDidactico</td>
                <td>@materialDidacticos.Descripcion</td>
                <td>@materialDidacticos.Archivo</td>
                <td>@materialDidacticos.CodigoMaterial</td>
                <td>@materialDidacticos.FechaSubida</td>
                <td>@materialDidacticos.IdNumeroAsignacion</td>
                <td>@materialDidacticos.IdDocente</td>

            </tr>
        }
    </tbody>
</table>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 4px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>