@model IEnumerable<FISCA.Dominio.Entidades.Cuatrimestre>

<h2>Lista de Cuatrimestres</h2>

<div class="w-5 btn-group" role="group">
    <a asp-controller="Cuatrimestre" asp-action="Agregar" class="btn btn-success mx-2">Agregar</a>
</div>

<table class="table table-light table-bordered table-striped mt-2">
    <thead>
        <tr>
            
            <th>Nombre del Cuatrimestre</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var cuatrimestre in Model)
        {
            <tr>
                
                <td>@cuatrimestre.NombreCuatrimestre</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Cuatrimestre" asp-action="Actualizar" asp-route-id="@cuatrimestre.IdCuatrimestre" class="btn btn-success">Actualizar</a>
                        <a asp-controller="Cuatrimestre" asp-action="Eliminar" asp-route-id="@cuatrimestre.IdCuatrimestre" class="btn btn-danger">Eliminar</a>
                        <a asp-controller="Cuatrimestre" asp-action="Actualizar" asp-route-id="@cuatrimestre.IdCuatrimestre" class="btn btn-success mx-2">Actualizar</a>
                        <a asp-controller="Cuatrimestre" asp-action="Eliminar" asp-route-id="@cuatrimestre.IdCuatrimestre" class="btn btn-danger mx-2">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
