@model IEnumerable<FISCA.Dominio.Entidades.Asignacion>

<h2>Lista de Asignaciones</h2>

<div class="w-5 btn-group" role="group">
    <a asp-controller="Asignacion" asp-action="Agregar" class="btn btn-success mx-2">Agregar</a>
</div>

<table class="table table-light table-bordered table-striped">
    <thead>
        <tr>
            <th>ID Asignación</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Número Asignación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asignacion in Model)
        {
            <tr>
                <td>@asignacion.IdAsignacion</td>
                <td>@asignacion.Descripcion</td>
                <td>@asignacion.Estado</td>
                <td>@asignacion.NumeroAsignacion</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Asignacion" asp-action="Actualizar" asp-route-id="@asignacion.IdAsignacion" class="btn btn-success mx-2">Actualizar</a>
                        <a asp-controller="Asignacion" asp-action="Eliminar" asp-route-id="@asignacion.IdAsignacion" class="btn btn-danger mx-2">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
