@model IEnumerable<FISCA.Dominio.Entidades.Usuario>

<h2>Lista de Usuarios</h2>
<div class="w-5 btn-group" role="group">
    <a asp-controller="Usuarios" asp-action="Agregar" class="btn btn-success mx-2">
        Agregar
    </a>
</div>
<table class="table table-light table-bordered table-striped" border="1">
    <thead>
        <tr>
            <th>Nombre de Usuario</th>
            <th>Nivel</th>
            <th>Código</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.NivelUsuario</td>
                <td>@usuario.Codigo</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Usuarios" asp-action="Actualizar" asp-route-Id="@usuario.IdUsuario" class="btn btn-success mx-2">
                            Actualizar
                        </a>
                        <a asp-controller="Usuarios" asp-action="Eliminar" asp-route-Id="@usuario.IdUsuario" class="btn btn-danger mx-2">
                            Eliminar
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
